# ignore all LaTeX project files
tex
*.tex
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.lot
*.lof

# ignore sbt files
.bsp
project
target
test_run_dir